header .row{
  background-color: #f8f9fa;
  height: 60px;
}

/*********** HEADER TOP BAR ***********/
nav img{
  transform: scale(0.6);
}

.logo{
  font-size: 1.5rem;
  font-weight: bold;
  color: #051e34;
}

.icon_inside {
  position:relative;
}

.icon_inside i {
  position:absolute;
  left:0;
  top:10px;
  padding: 0 10px;
}

.form-control{
  background-color: #e5e5e5;
  border: none;
}

.navbar-toggler{
  border: none;
}

.navbar-nav{
  flex-direction: row;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.fa-bell{
  color: #FFA431;
}

/*********** BARRA LATERALE ***********/
.left_content{
  background: linear-gradient(320deg, #172e45  30%, rgba(0,0,0,0) 31%), linear-gradient(40deg, #142B41 59%, #051E34 60%);
  margin-top: 60px;
  position: relative;
} 

.icon_text a{
  text-decoration: none;
  color: #fff;
}

.icon_text{
  font-size: 1.2rem;
}

.icon_text i{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.icon_text:last-child{
  position: absolute;
  left: 0;
  bottom: 2rem;
}

/*********** CONTENUTO CENTRALE ***********/
.azure_bar{
  background-color: #1B72E8;
  height: 120px;
}

.right_content{
  background-color: #f8f9fa;
  height: 100vh;
  margin-top: 60px;
}


/*********** DEBUG ***********/
/* [class*="col"]{
  border: 1px solid black;
} */