header .row{
  background-color: #f8f9fa;
  height: 70px;
}

/*********** CONTENUTO CENTRALE ***********/
.left_content{
  background-color: #051e34;
  margin-top: 70px;
}

.right_content{
  background-color: #f8f9fa;
  height: 100vh;
  margin-top: 70px;
}

.azure_bar{
  background-color: #1B72E8;
  height: 100px;
}

/*********** DEBUG ***********/
[class*="col"]{
  border: 1px solid black;
}